.unittag_azuloscuro_reporterosusa #actividad .content .header .title h3 {
	color: #0e4090;
}

.unittag_azuloscuro_reporterosusa #actividad .content .header .title {
	background: #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-title-1 {
	color: #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-title-3 {
	color: #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-title-5 {
	color: #99c11a;
}

.unittag_azuloscuro_reporterosusa .bck-title-8 {
	background-color: #99c11a;
}

.unittag_azuloscuro_reporterosusa .bck-title-9 {
	background-color: #99c11a;
}

.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-5 li, 
.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-5 li, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso .bck-ol-5 li, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content .bck-ol-5 li, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li .bck-ol-5 li {
    color: #99c11a;
}

.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-5 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso .bck-ol-5 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content .bck-ol-5 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li .bck-ol-5 li:before {
    background-color: #99c11a;
}


.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-6 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso .bck-ol-6 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content .bck-ol-6 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li .bck-ol-6 li:before {
    color: #99c11a;
    border: 2px solid #99c11a;
}


.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-8 li, 
.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-8 li, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso .bck-ol-8 li, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content .bck-ol-8 li, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li .bck-ol-8 li {
	color: #0e4090;
}

.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-8 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso .bck-ol-8 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content .bck-ol-8 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li .bck-ol-8 li:before {
	background-color: #0e4090;
}

.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ol-9 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso ol.bck-ol-9 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content ol.bck-ol-9 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li ol.bck-ol-9 li:before {
	color: #0e4090;
}

.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ul-7 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso ul.bck-ul-7 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content ul.bck-ul-7 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li ul.bck-ul-7 li:before {
    color: #99c11a;
}

.unittag_azuloscuro_reporterosusa #actividad .content .cke_contents .bck-ul-8 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .texto_curso ul.bck-ul-8 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .popover-content ul.bck-ul-8 li:before, 
.unittag_azuloscuro_reporterosusa #actividad .content .workspace ul li ul.bck-ul-8 li:before {
    color: #99c11a;
}


.unittag_azuloscuro_reporterosusa .bck-box.bck-box-1 {
	background: #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-box-1 .bck-title {
	background-color: #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-1 .bck-content {
	background-color: #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-2 {
	border: 2px dotted #0e4090;
	background: #E8E9F5;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-2 .bck-title {
	background: #E8E9F5;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-2 .bck-content {
    background: #E8E9F5;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-20 .bck-content {
	border: 3px solid #0e4090;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-22 {
	background: #E8E9F5;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-22 .bck-content {
	border: 3px solid transparent;
}

.unittag_azuloscuro_reporterosusa .bck-box.bck-box-24 .bck-title {
	background: #0e4090;
}
