.cke_contents  table {
	margin-bottom: 10px;
}

.is_app.content_type_clase_faq2021demo {
	padding-top: 0px;
}

.is_app.content_type_clase_faq2021demo:not(.offline-pc) .content-wrapper {
	padding-top: 55px;
}

.body_clase .content-wrapper {
	padding-top: 44px;
	padding-bottom: 0px;
}

.body_clase.edit .content-wrapper {
	top: 0px;
}

.content_type_clase_faq2021demo #actividad {
	margin-bottom: 0px;
	-webkit-transform: none;
	-webkit-transform-style: flat;
}

.content_type_clase_faq2021demo .slide-wrapper,
.class_slide .layout {
	text-align: justify;
	padding: 0px 97px 0px;
}

.edit .class_slide .layout {
	margin-top: 65px;
}

#actividad .carousel-inner .item-container {
	background-image: none;
	margin: 20px auto 30px;
	padding: 0px;
	padding-bottom: 90px;
	position: relative;
}

.content_type_clase_faq2021demo #actividad .content .header .title img,
.content_type_clase_faq2021demo #actividad .content .header .chapter {
	display: none;
}

#actividad .content .header {
	border: none;
}

#actividad .content .header .title {
	border-bottom: 7px #74d320 solid;
	background-color: #fff;
}

.content_type_clase_faq2021demo #actividad .content .header .title h3 {
	font-size: 3.0rem;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	margin-left: 20px;
	color: darkgray;
	line-height: 4.0rem;
	padding-right: 20px;
}

.content_type_clase_faq2021demo #actividad .content .header .title h3 .index {
	display: inline-block;
	background-color: #EE7D11;
	padding: 40px 5px 0px;
	margin-right: 5px;
}

.content_type_clase_faq2021demo #actividad .texto_curso {
	font-size: 1.8rem;
}

.content_type_clase_faq2021demo #actividad .texto_curso li,
.content_type_clase_faq2021demo #actividad .workspace ul li li {
	margin-bottom: 10px;
}

#actividad .class_slide:last-of-type {
	padding-bottom: 100px;
}

#actividad .slide-concatenate .class_slide {
	padding-bottom: 20px;
}

#actividad .slide-concatenate:last-of-type .class_slide {
	padding-bottom: 100px;
}

#actividad .content .header .title {
	min-height: 0px;
	padding: 20px;
}

.felicidades_2,
.numero_aciertos2 {
	display: none !important;
}

#final .tiempo_empleado2 {
	float: none;
	width: 100%;
}

.navbar-bottom,
.title-buttons,
.material,
.slider-control,
#indice .unit-content .actividades .item .icon-deberes,
#indice .unit-content .actividades .item .pags,
#indice .unit-content .actividades .item .online,
#indice .unit-content .actividades .item .acceso,
#indice .unit-content .actividades .item .nota {
	display: none ! important;
}

#indice .unit-content .actividades {
	border-top: none;
}

#indice .unit-content .actividades .item .text {
	margin-left: 0px;
}

#indice .units ul li a .number {
	visibility: hidden;
}

#indice .unit-content .header .number {
	display: none;
}

#indice .unit-content .header.default {
	background-image: url(logo.png) ! important;
    background-size: 35% 35%;
    background-position: 90% 10%;
    position: relative;
    padding: 20px;
}

#indice .unit-content .header .title {
    position: absolute;
    float: none;
    height: auto;
    color: darkgrey;
    width: 90%;
    bottom: 0;
    margin: 0;
    display: block;
    border-bottom: 4px solid #e5e5e5;
    padding: 20px 0px 20px 20px;
    left: 50%;
    transform: translateX(-50%);
}

.zoom_flag_img {
    top: 20px;
}

/* CKEDITOR */
	#actividad .content img{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#actividad .content .bck-img.right,
	#actividad .content img[style~="float:right"] {
		margin-left: 20px;
		float: right;
	}

	#actividad .content .bck-img.left,
	#actividad .content img[style~="float:left"] {
		margin-right: 20px;
		float: left;
	}

	.bck-encabezado {
		color: #3a7f2c;
		border: 3px solid #d4f1ba;
		border-radius: 10px;
		font-weight: 600;
		padding-left: 5px;
	}

	.bck-sub-encabezado {
		color: #3a7f2c;
		font-weight: bold;
	}

	.content ol {
		list-style-type: none;
	}

	.content ol li {
		counter-increment: bck-li-counter 1;
	}

	.content ol li:before {
		content: counter(bck-li-counter);
		display: inline-block;
		background-color: #74d320;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		line-height: 3rem;
		color: white;
		margin-right: 8px;
		font-weight: 600;
		font-size: 2.2rem;
		text-align: center;
		vertical-align: middle;
	}

	.inner-link{
		font-weight: bold;
	    cursor: pointer;
	    padding: 2px;
	    margin: 3px;
	    color: green;
	}

.alert-info {
    display: none;
}


	body {
    font: 100 15px 'Source Sans Pro',sans-serif;
    line-height: 21px;
    color: #414141;
    background-color: #eee;
}

/*-------------------------------------ENLACES-----------------------------------*/

a {
    text-decoration: underline;
    color: #3ac62a;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover, 
a:active,
a:focus {
    outline: 0;
    color: #3ac62a;
    text-decoration: underline;
    font-weight: 500;
}

/*------------------------------------ENFASIS-------------------------------------------------*/

.bck-enfasis-rosa {
    color: #ff385a;
}
.bck-enfasis-azul {
    color: #00d0f5;
}
.bck-enfasis-verde {
    color: #3ac62a;
}
.bck-enfasis-naranja {
    color: #ff9c25;
}
.bck-enfasis-morado {
    color: #7868a4;
}


/*-------------------------------------------CAJAS--------------------------------------------------------*/

.bck-box-1 {
    border: 1px solid #3ac62a;
    padding: 15px;
    text-align: center;
}


/*----------------------ICONOS------------------------------------------*/

.cke_contents .icon:before, 
.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
	     -o-background-size: auto 100%;
	        background-size: auto 100%;
	background-position: center center;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 45px;
}


.item-container .icon-mas:before {
    content: "";
    position: absolute;
    padding: 10px;
    background-image: url(images/iconoplusfaqux.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

/**/

@media screen and (max-width: 1099px) {
	.body_clase .content-wrapper {
		max-width: 100%;
	}

	#actividad .content {
		border-radius: 0;
	}

	#actividad .carousel-inner .item-container {
		margin: 0;
		width: 100% !important;
		max-width: none;
		box-shadow: none;
	}

	.ipad #actividad .carousel-inner .item-container {
		border-right: 1px solid #eee;
	}
}



@media screen and (max-width: 768px) {
	.content_type_clase_faq2021demo .slide-wrapper,
	.class_slide .layout {
		padding: 0px 20px 0px;
	}

	.bck-img.right, img[style~="float:right"] {
		max-width: 50%
	}

	.bck-img.left, img[style~="float:left"] {
		max-width: 50%
	}

}

@media screen and (max-width: 480px) {

	.bck-img.right, img[style~="float:right"] {
		width: 100%;
	}

	.bck-img.left, img[style~="float:left"] {
		width: 100%;
	}

	#actividad .carousel-inner .item-container {
		padding: 40px 20px 0;
	}

}
